*
{
    font-family: 'Kodchasan', sans-serif;
}

body{
  width: 100%;
}

.admin1{
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #4caf50;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #4caf50;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #4caf50;
}

#content{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #4caf50;
}

.titre-dashboard{
  text-align: center;
  padding: 12px 20px;
}

.image-admin{
  text-align: center;
  padding: 12px 20px;
}

.bouton-admin{
  text-align: center;
}

textarea#comment {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #4caf50;
}

label{
  background-color: grey;
  width: 100%;
}

input[type=submit]{
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 11px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
}

.bouton{
  text-align: center;
}

.card-content{
  width: 100%;
  background-color: #e8743a;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 15px 32px;
}

.tableau-admin {
  margin-bottom: 45px;
}

.tableau-admin table{
  width: 100%;
  border-collapse: collapse;
}

.tableau-admin th, td {
  text-align: left;
  padding: 8px;
}

.tableau-admin tr:nth-child(even){background-color: #f2f2f2}

.tableau-admin th {
  background-color: #4CAF50;
  color: white;
}

.see_comment{
  color: white;
  border-radius: 20px;
  background-color: #4caf50;
  padding: 5px 6px;
}

.see_comment1{
  color: white;
  border-radius: 20px;
  background-color: #4caf50;
  padding: 5px 6px;
}

.see_comment:hover{
  color: grey;
}

.see_comment1:hover{
  color: grey;
}

.delete_comment{
  color: white;
  border-radius: 20px;
  background-color: #e54040;
  padding: 5px 7px;
}

.delete_comment1{
  color: white;
  border-radius: 20px;
  background-color: #e54040;
  padding: 5px 7px;
}

.delete_comment:hover{
  color: grey;
}

.delete_comment1:hover{
  color: grey;
}

.formulaire_post{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  padding-top: 25px;
}

.formulaire{
  box-sizing: border-box;
  border: none;
  border-bottom: 4px solid #4caf50;
  background-color: #ededed;
  margin: 20px;
}

.formulaire_post label{
  width: 100%;
  text-align: center;
  border: none;
}

textarea {
  font-weight: 1000;
  box-sizing: border-box;
  border: none;
  margin: 15px;
  margin-bottom: 30px;
  border-bottom: 2px solid #4caf50;
}

.formulaire_images{
  text-align: center;
}

.bouton_article{
  margin-top: 25px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.texte_article{
  box-sizing: border-box;
  border: none;
  margin-bottom: 30px;
}

img{
  max-width: 70%;
  height: auto;
}

.titre_about
{
  text-align: center;
  padding: 5px 5px;
  color: #3bafda;
}

.image_about {
  text-align: center;
  padding: 15px 5px;
}

.container_about{
  box-shadow: 7px 7px #d1d1d1;
  background-color: #ededed;
  padding: 5px;
  margin-top: 10px;
}

.image_accueil{
  text-align: center;
  margin-top: 20px;
}

.titre_accueil{
  text-align: center;
  padding: 15px;
}

.row{
  text-align: left;
  background-color: #ededed;
  margin: 20px;
}

.row1{
  text-align: left;
  background-color: #ededed;
  margin: 20px;
  box-shadow: 7px 7px #d1d1d1;
}
.container_accueil {
  background-color: #ededed;
  box-shadow: 7px 7px #d1d1d1;
}

.commentaire{
  text-align: center;
  background-color: #ededed;
  margin: 20px;
  box-shadow: 3px 3px #4caf50;;;
  height: 120px;
  line-height: 0.7;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #4caf50;
}

.commentaire h3{
  font-weight: 1000;
}

.commentaire span{
  background-color: #8c0909;
  color: white;
}

h2{
  text-align: center;
  font-weight: 1000;
  box-sizing: border-box;
  border: none;
  border-bottom: 4px solid #4caf50;
  margin: 15px;
  margin-bottom: 30px;
}

.email{
  background-color: #d62424;
  border: none;
  color: white;
  padding: 15px 32px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  height: 60px;
}

h4{
  text-align: center;
  font-weight: 1000;
  box-sizing: border-box;
  border: none;
  border-bottom: 4px solid #4caf50;
  margin: 15px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.modal1{
  width: 400px;
  height: 150px;
  background-color: white;
  box-shadow: 0 0 10px grey;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 20px;
}

.background-modal{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.image-post{
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-post > img {
  width: 70%;
}

.delete_comment2 {
  border-radius: 20px;
  background-color: #e54040;
  padding: 5px 7px;
}

.modif {
  border-radius: 20px;
  background-color: #f9c700;
  padding: 5px 7px;
  color: black;
}

.buttonsignale{
  background-color: #e05050;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.bouton_comment {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.bouton_connect{
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
